<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <table class="t2">
        <tr>
            <td>NAME : </td>
            <td><%= player["name"] %> </td>
        </tr>
        <tr>
            <td>TEAM NAME : </td>
            <td><%= player["tname"] %> </td>
        </tr>
        <tr>
            <td>TOTAL RUNS : </td>
            <td><%= player["runs"] %> </td>
        </tr>
        <tr>
            <td>CENTURIES : </td>
            <td><%= player["centuries"] %> </td>
        </tr>
        <tr>
            <td>HALF CENTURIES : </td>
            <td><%= player["halfCenturies"] %> </td>
        </tr>
        <tr>
            <td>AVERAGE : </td>
            <td><%= player["average"] %> </td>
        </tr>
        <tr>
            <td>WICKETS : </td>
            <td><%= player["wickets"] %> </td>
        </tr>
        <tr>
            <td>BASE PRICE : </td>
            <td><%= player["basePrice"] %> </td>
        </tr>
        <tr>
            <td>SOLD PRICE : </td>
            <td><%= player["soldPrice"] %> </td>
        </tr>
    </table>
</body>
</html>